[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ consul_user }}
Group={{ consul_group }}
PermissionsStartOnly=true
ExecStart=/bin/bash {{ consul_home }}/consul.systemd.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
